# macOS
.DS_Store

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
*.perspectivev3

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Firebase - contains API keys, do not commit
GoogleService-Info.plist
